**__pycache__/
**env/
.vscode/
**.pyc
oculus/3db/Temp/
oculus/3db/Obj/
oculus/3db/UnityGenerated/
oculus/3db/Library
oculus/3db/Assets/AssetStoreTools*
oculus/3db/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
